body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f9f9f9;
}

.navbar {
  background: #15202b;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.nav-links a:hover {
  text-decoration: underline;
}

.content {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .footer {
  background: #2d3748;
  color: white;
  text-align: center;
  padding: 1rem;
} */
